.editNote {
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 1;
}

.noteForm {
  border: none;
}

textarea {
  min-height: 500px;
  min-width: 800px;
  height: 90%;
  width: 90%;
}

.noteForm > div {
  display: flex;
  justify-content: space-between;
  max-height: 50px;
}

.taglist ul {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: flex-start;
}
