.addNote {
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 1;
}

.noteForm {
  border: none;
}

textarea {
  min-height: 500px;
  min-width: 800px;
  height: 90%;
  width: 90%;
}

.noteForm > div {
  display: flex;
}
