/* TODO Add site wide styles */

body {
  background-image: url('/src/images/login-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
