form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 50%;
}

input {
  margin-left: 5px;
  margin-bottom: 5px;
}

button {
  margin-bottom: 10px;
}

button:hover {
  opacity: 0.8;
}
